.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.flex-container > *:not(#swiper) {
    flex: 1;
    text-align: center;
}

.card {
    min-width: 300px;
    max-width: 100%;
    background-color: #a98b84;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 50% 50%;
    background-color: #151718;
}
.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.info-wrapper {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    min-height: 0;
    padding-top: 15px;
}

.info-container {
    padding-top: 10px;
    padding-left: 15px;
    width: 100%;
    min-height: 0;
    text-align: start;
}

.info-container:first-of-type {
    font-size: 20pt;
}

.info-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
    min-height: 0;
}

.info-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-avatar img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #f3ede7;
}

.active-buttons a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d4800a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.active-buttons a:hover {
    background-color: #c16b05;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.active-buttons a:active {
    background-color: #9e5c00;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
